<section class="about-us">
  <div class="container-fluid position-relative p-0">
    <img class="w-100" src="assets/images/about-us/about2-re.jpg" alt="">
    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center">
      <div
        class="col-12 col-sm-8 col-md-8 col-lg-6 col-xl-5 col-xxl-4 offset-xxl-1 d-flex flex-column justify-content-center">
        <div class="border border-white p-5 mx-5">
          <h1 class="text-white mb-4">About Us</h1>
          <p class="d-none d-md-block text-white"> At Our Crystal Store, we offer a wide selection of high-quality
            crystals to help
            you
            enhance your well-being
            and
            bring positive energy into your life. From clear quartz to amethyst, each crystal has its own unique
            properties
            that
            can benefit you in different ways.
          </p>
        </div>

      </div>
    </div>
  </div>

  <div class="container my-5">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-6 order-1 order-md-0">
        <img class="img-fluid p-4 " src="assets/images/about-us/Shop3.jpg" alt="">
      </div>
      <div class="col-12 col-md-12 col-lg-6 order-0 order-md-1">
        <h1>Welcome to Our Store!</h1>
        <hr class="w-25 mb-5">

        <p> Whether you're looking for a specific crystal to aid in meditation or simply want to add some beauty to your
          home,
          Our Crystal Store is the perfect place to find what you need. We pride ourselves on offering only the best
          crystals at affordable prices, so you can shop with confidence and know you're getting a great deal.
        </p>
        <p>
          In addition to our great selection, we also offer product customization services. This means you can choose
          the
          size, shape, and color of your crystal to create a truly personalized item that reflects your individual style
          and
          needs.
        </p>
        <p>
          At Our Store, we're committed to helping you find the perfect crystal for your needs, whether
          you're
          looking for physical healing, emotional support, or spiritual growth. If you have any questions or need help
          choosing the right product, our knowledgeable staff is always available to assist you.
        </p>
        <p>
          So take a look around our site and discover the power of crystals for yourself! If you have any questions or
          need
          help choosing the right crystal for your needs, don't hesitate to contact us. We're always here to help.
        </p>
      </div>

    </div>
    <div class="mt-5">
      <p class="fw-semibold">Our Location:</p>
      <p>Address: 8A Ton That Thuyet, My Đinh, Nam Tu Liem, Ha Noi, Viet Nam</p>
      <p><i class="bi bi-telephone-fill me-3"></i>
        <a class="text-dark" href="tel:+84123456789">(+84) 1234 5678 9</a>
      </p>
      <p>
        <i class="bi bi-envelope-open-fill me-3"></i>
        <a class="text-dark" href="mailto: customerservice@crystal.store">customerservice@crystal.store</a>
      </p>
      <p class="fw-semibold">Opening Hours:</p>
      <p><span class="fw-semibold">Mon. - Fri.:</span> 09:00 - 20:00</p>
      <p><span class="fw-semibold">Sat.:</span> 09:00 - 19:00</p>
    </div>
  </div>
</section>
