<section class="hero">
  <div class="container-fluid p-0 shadow-sm position-relative">
    <img class="w-100" src="assets/images/heroes/hero-1.png" alt="hero">
    <div class="position-absolute top-50 start-50 translate-middle text-center p-5 text-white">
      <h1 class="text-uppercase text-white">crystal</h1>
      <p class="fs-4 mb-4">brings joy to your heart and sparkle your life</p>
      <a class="text-decoration-none text-white text-uppercase border border-light py-2 px-3"
        routerLink="/categories/all-products">all products</a>
    </div>
  </div>
</section>

<section class="new-arrival my-5 py-3">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="text-uppercase">new arrivals</h1>
      <div class=" my-4">
        <a class="text-decoration-none text-dark text-uppercase border border-dark py-2 px-4"
          routerLink="/categories/new-arrivals">shop all new products</a>
      </div>
    </div>
    <hr>
    <app-product-cards [products]="newProducts"></app-product-cards>
  </div>
</section>

<section class="categories my-5 py-3">
  <div class="container border">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-6 bg-color text-center pt-3">
        <h2 class="text-uppercase">our crystals</h2>
        <p>Navigate your way around and discover the pieces of your dreams</p>
        <a class="text-decoration-none text-dark text-uppercase d-block border border-dark w-50 col-4 offset-3 py-2 my-3"
          *ngFor="let cat of categories" routerLink="/categories/{{cat.name}}">{{cat.name}}</a>
      </div>
      <div class="col-12 col-md-12 col-lg-6 p-0">
        <img class="img-fluid" src="assets/images/about-us/beginnerscrystlas.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<section class="sale my-5 py-3">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="text-uppercase">special offers</h1>
      <div class=" my-4">
        <a class="text-decoration-none text-dark text-uppercase border border-dark py-2 px-3"
          routerLink="/categories/special-offers">shop all offer products</a>
      </div>
    </div>
    <hr>
    <app-product-cards [products]="offerProducts"></app-product-cards>
  </div>
</section>

<section class="store-information my-5 bg-color pt-3 pb-5 border">
  <div class="container">
    <div class="text-center my-4">
      <h1 class="text-uppercase">crystal</h1>
      <p class="fs-5">your satisfaction is our happiness</p>
    </div>
    <div class="position-relative">
      <img class="img-fluid" src="assets/images/homes/office-1.jpg" alt="office">
      <div class="information-field p-5 position-absolute top-50 start-50 translate-middle text-center">
        <p class="fs-3 m-0 text-uppercase">world-class</p>
        <h3 class="text-uppercase">customer service</h3>
        <p class="mb-4">Crystal&#39;s team would love to help you to choose the product that&#39;s right for you.</p>
        <a class="text-decoration-none text-dark text-uppercase text-dark border border-dark py-2 px-3 w-25"
          routerLink="/contact">contact us</a>
      </div>
    </div>
  </div>
</section>
