footer .footer-link {
  text-decoration: none;
  color: #4B5157;
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
}

footer .footer-link:hover {
  color: black;
  transition: 0.3s;
}

footer .footer-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease-out;
}

footer .footer-link:hover::before {
  width: 110%;
}
