<section class="banner mb-5">
  <div id="banner-carousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item position-relative" *ngFor="let product of products; index as i"
        [ngClass]="(i === 0)? 'active': ''">
        <img [src]="product.image" class="d-block w-100 vh-50" alt="i">
        <div
          class="position-absolute top-0 start-0 h-100 w-50 d-flex flex-column justify-content-center align-items-center ">
          <div>
            <h3 class="text-uppercase text-white">{{product.name}}</h3>
            <button class="btn btn-dark text-capitalize" routerLink="/products/{{product.id}}">product detail</button>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#banner-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#banner-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
