/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "WorkSans";
  src: local("Montserrat"), url("/assets/font/WorkSans-VariableFont_wght.ttf") format("truetype");
}

* {
  font-family: "WorkSans";
}

h1,
h2,
h3 {
  font-family: serif;
  color: #b69f7a;
}

.bg-color {
  background-color: #FBFBFA;
}

.border-color {
  border-style: solid;
  border-color: #86A8AA;
}

.text-color {
  color: #86A8AA;
}

.text-color-success {
  color: #49AF42;
}
